body {
  font-family: Arial, Helvetica, sans-serif;
}
.wrapper {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 20px;
}
.linea {
  margin-top: 20px;
  width: 100vw; 
  height: 2px;
  background-color: gray;
  position: relative; 
  left: 0; 
}
/* .linea {
  margin-top: 20px;
  width: 100%;
  height: 2px;
  background-color: gray;
} */

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 1.5rem;
  padding-left: 20px;
  /*font-family: Arial, Helvetica, sans-serif;*/
  font-weight: bold;
  color: black;
}
.principal-nav {
  display: flex;
}
.principal-nav__list {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  gap: 20px;
}
.principal-nav__list a {
  text-decoration: none;
  font-size: 0.9rem;
  color: black;
}
.principal-nav a.contactar {
  border: 1px solid gray;
  border-radius: 5px;
  padding: 8px 8px 8px 8px;
}
.padre-producto {
  display: flex;
  flex-direction: column;
  margin: 20px;
  gap: 40px;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
.hijo-producto__img {
  position: relative;
  flex-grow: 2;
  /* display: flex;
  background-color: #f0f0f0;
  height: 400px;
  border: 20px;
  justify-content: center;
  align-items: center;
  position: relative;
  flex-grow: 1; */
}
.placehold {
  max-width: 100%;
}
.hijo-producto__info {
  margin: 0;
  flex-grow: 3;
}
.hijo-producto__info h4 {
  color: red;
  font-weight: 800;
  margin: 0;
}
.hijo-producto__info h1 {
  font-weight: 800;
  margin-top: 8px;
  font-size: 1.6rem;
}
.producto-capacidad {
  display: inline-block;
  padding: 0.5rem;
  background: green;
  color: white;
  position: absolute;
  top: 20px;
  left: 20px;
}
.hijo-producto__precio {
  font-weight: 800;
  font-size: 1.6em;
}
.hijo-producto__btncomprar {
  background-color: #0066FF;
  color: white;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
}
.producto-precio__container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
}
.padre-producto__enviosydevoluciones{
  display: flex; 
  justify-content: left;
  gap: 20px;
}
.hijo-producto__enviosydevoluciones-infoenvios  {
  display: flex;
  flex-direction: row;
  
}
.hijo-producto__enviosydevoluciones-infodevolucion{
  display: flex;
  flex-direction: row;
  
}
.hijo-producto__enviosydevoluciones-infopago{
  display: flex;
  flex-direction: row;
 
}
.padre-producto__enviosydevoluciones p {  
  font-size: 1rem;
}

@media (min-width: 768px) {
  .padre-producto {
    flex-direction: row;
  }
  .hijo-producto__img {
    flex-grow: 0;
    flex-basis: 50%;
    min-width: 300px;
  }
}
@media (max-width: 768px) {
  .principal-nav {
    display: none;
  }
  .padre-producto__enviosydevoluciones{
    flex-wrap: wrap;
  }
}
