/* Autor: Antony Yesid Martinez Villalba*/
body {
  font-family: Arial, Helvetica, sans-serif; /*será la única declaración de font-family
  porque los elementos de texto ubucados en el body heredarán este tipado de fuente*/
}
.wrapper {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 20px;
}
.linea {
  margin-top: 20px;
  width: 100vw;
  height: 2px;
  background-color: gray;
  position: relative;
  left: 0;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 1.5rem;
  padding-left: 20px;
  font-weight: bold;
  color: black;
}



@media (min-width: 768px) {
  
}
@media (max-width: 768px) {
  
}
